<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<div v-cloak @click="showContact=false" id="portfolio">
		<header>
			<nav>
				<ul class="flex">
					<li class="avatar"><img src="css/image/header/avatar1.jpg"></li>
					<li @click="changePage('profile')"
						 :class="page == 'profile'? 'activeButton' : ''"
						 class="profile menuButton">
						<img src="css/image/header/profile.png">
						PROFILE
					</li>
					<li @click="changePage('skills')"
						:class="page == 'skills'? 'activeButton' : ''"
					 	class="skills menuButton">
						<img src="css/image/header/skills.png">
						SKILLS
					</li>
					<li @click="changePage('works')" 
						:class="page == 'works'? 'activeButton' : ''"
					 	class="works menuButton">
						<img src="css/image/header/works.png">
						WORKS
					</li>
					<li @click="changePage('resume')" 
						:class="page == 'resume'? 'activeButton' : ''"
					 	class="resume menuButton">
						<img src="css/image/header/resume.png">
						RESUME
					</li>
				</ul>
			</nav>
		</header>

		<content>
			<div class="profileContent flex" v-if="page == 'profile'">
				<div class="bigAvatar">
					<img src="css/image/header/avatar1.jpg">
				</div>
				<div class="information">
					<h1 class="informationTitle">Elena Dyba</h1>
					<p class="subTitle">Web JS-developer</p>
					<p class="informationText">Hello I am Elena Dyba Web Js-developer from Kiev, If you have something to be done just call my name and ill be there. :-) Here you can find some examples of my works</p>
					<div class="hireButton">
						<img src="css/image/content/Check.png">
						HIRE ME
					</div>
				</div>
			</div>
			<div class="skillsContent flex" v-if="page == 'skills'">
				<div class="skillsContentElem flex">
					<div class="skillImage">
						<div class="skillImageElem skillImageElemJS">JS</div>
					</div>
					<div class="skillProgress flex">
						<div class="skillName flex">
							<div class="skillNameElem">JavaScript</div>
							<div class="skillNameIndex">85%</div>
						</div>
						<div class="fullProgress progressAnimatiom">
							<div class="maneProgress maneProgressJS progressAnimatiom"></div>
						</div>
					</div>
				</div>
				<div class="skillsContentElem flex">
					<div class="skillImage">
						<div class="skillImageElem skillImageElemHtml">HTML</div>
					</div>
					<div class="skillProgress flex">
						<div class="skillName flex">
							<div class="skillNameElem">HTML</div>
							<div class="skillNameIndex">80%</div>
						</div>
						<div class="fullProgress progressAnimatiom">
							<div class="maneProgress maneProgressHtml progressAnimatiom"></div>
						</div>
					</div>
				</div>
				<div class="skillsContentElem flex">
					<div class="skillImage">
						<div class="skillImageElem skillImageElemVue">Vue</div>
					</div>
					<div class="skillProgress flex">
						<div class="skillName flex">
							<div class="skillNameElem">Vue JavaScript</div>
							<div class="skillNameIndex">35%</div>
						</div>
						<div class="fullProgress progressAnimatiom">
							<div class="maneProgress maneProgressVue progressAnimatiom"></div>
						</div>
					</div>
				</div>
				<div class="skillsContentElem flex">
					<div class="skillImage">
						<div class="skillImageElem skillImageElemCss">CSS3</div>
					</div>
					<div class="skillProgress flex">
						<div class="skillName flex">
							<div class="skillNameElem">CSS3</div>
							<div class="skillNameIndex">90%</div>
						</div>
						<div class="fullProgress progressAnimatiom">
							<div class="maneProgress maneProgressCss progressAnimatiom"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="works" v-if="page == 'works'">
				<div v-if="modal" @click="modal=false" class="modal">
						<img :src="src" class="modalContent">
				</div>
				<template v-else>
					<div @click.stop="showModal('css/image/works/test.png')" class="worksImage">
						<div class="worksImageElem worksImageElem1">
							<div class="worksImageHover">
								<img src="css/image/works/View.png">
							</div>
						</div>
					</div>
					<div @click.stop="showModal()" class="worksImage">
						<div class="worksImageElem">
							<div class="worksImageHover">
								<img src="css/image/works/View.png">
							</div>
						</div>
					</div>
					<div @click.stop="showModal()" class="worksImage">
						<div class="worksImageElem">
							<div class="worksImageHover">
								<img src="css/image/works/View.png">
							</div>
						</div>
					</div>
					<div @click.stop="showModal()" class="worksImage">
						<div class="worksImageElem">
							<div class="worksImageHover">
								<img src="css/image/works/View.png">
							</div>
						</div>
					</div>
					<div @click.stop="showModal()" class="worksImage">
						<div class="worksImageElem">
							<div class="worksImageHover">
								<img src="css/image/works/View.png">
							</div>
						</div>
					</div>
					<div @click.stop="showModal()" class="worksImage">
						<div class="worksImageElem">
							<div class="worksImageHover">
								<img src="css/image/works/View.png">
							</div>
						</div>
					</div>
				</template>
			</div>
			<div class="resume" v-if="page == 'resume'">
				<div class="resumeContent">
					<h1 class="resumeTitle">MY RESUME</h1>
					<p class="resumeText">You can download my resume for your  references, and I hope that we can meet very soon :-)  </p>
					<button class="resumeButton">
						<img src="css/image/content/Download.png">
						DOWNLOAD RESUME
					</button>
					<p class="resumeWeight">125kb</p>
				</div>
			</div>
			<div v-if="showContact" @click.stop class="contact">
				<form class="form">
					<input type="text" name="name" placeholder="NAME" class="input">
					<input type="text" name="email" placeholder="EMAIL" class="input">
					<textarea placeholder="MESSAGE" class="input textareaInput"></textarea>
					<button class="contactButton">
						<img src="css/image/content/Send.png">
						SEND
					</button>
				</form>
			</div>
		</content>

		<footer>
			<div class="mail">myMail@gmail.com</div>
			<div @click.stop="showContact=!showContact" :class="{footerContactActive:showContact}" class="footerContact">CONTACT</div>
		</footer>
	</div>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>